:root {
  // Video player variables
  --video-player-icon-size: 80px;
  --video-player-play-bg: rgba(0, 0, 0, 0.45);
  --video-player-play-bg-hover: rgba(0, 0, 0, 0.65);
  --video-player-fallback-bg: #1a1a1a;
  --video-url-widget-cancel: #ff0010;
}
